<div class="mt-4">
  <h2 class="mb-4 font-bold tracking-widest text-sm2 text-gray-550 print:font-normal">
    CONTACT
  </h2>

  <section class="mt-2">
    <ul class="list-inside pr-7">
      <li class="mt-1 leading-normal text-gray-700 text-md">
        <a href="//twitter.com/juddeylane" class="hover:underline">
          twitter.com/juddeylane
        </a>
      </li>
      <li class="mt-1 leading-normal text-gray-700 text-md">
        justin@justinlane.org
      </li>
      <li class="mt-1 leading-normal text-gray-700 text-md">
        (+64) 27 623 6003
      </li>
      <li class="mt-1 leading-normal text-gray-700 text-md">
        <a href="//github.com/juddey" class="hover:underline">
          github.com/juddey
        </a>
      </li>
    </ul>
  </section>
</div>
