
  <header class="flex items-center mb-8 md:mb-11">
    <div
      class="w-12 px-3 mr-5 text-base font-medium leading-none text-white bg-gray-700 initials-container print:bg-black"
      style="padding-bottom: 0.6875rem; padding-top: 0.6875rem; /*11px*/">
      <div class="text-center initial" style="padding-bottom: 0.1875rem; /*3px*/">J</div>
      <div class="text-center initial">L</div>
    </div>
    <div class="w-10/12">
      <h1 class="pb-px text-2xl font-semibold text-gray-750">
        Justin Lane
      </h1>
    </div>
    <div class="w-1/12">
      <div class="flex justify-end print:invisible">
        <a class="text-gray-700 cursor-pointer hover:underline" onclick="window.print(); return false">Print</a>
      </div>
    </div>
  </header>